body {
  background-color: #141414;
  color: #b3b3b3;
  user-select: none;
}

.layout {
  overflow: visible;
  background-color: inherit;
  z-index: 0;
  min-height: 100vh;
}

.home {
  margin-top: -70px;
}

.d-flex {
  display: flex !important;
}

.text-primary {
  color: #b3b3b3;
}

.aling-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100% !important;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
.justify-content-end {
  justify-content: end;
}

.submit-btn {
  background: rgb(229, 9, 20);
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(193, 17, 25);
}

.login-forgot-pass {
  text-decoration: none;
  color: white;
}

.login-forgot-pass:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.c-white {
  color: white !important;
}

.b-none {
  border: none;
}
.align-item-center {
  align-items: center;
}

.b-round {
  border-radius: 50%;
}

.bg-transparent {
  background: transparent;
}

.c-pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

.divider {
  border-color: rgba(179, 179, 179, 0.2) !important;
}
.p-0 {
  padding: 0;
}

.l-height-1 {
  line-height: 1;
}

.l-height-1-2 {
  line-height: 1.2;
}

.o-none {
  outline: none;
}

.bg-inherit {
  background: inherit;
}

.top-0 {
  top: 0;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.td-none {
  text-decoration: none;
}

.fd-column {
  flex-direction: column;
}

.fw-700 {
  font-weight: 700;
}

.c-black {
  color: black;
}

.bg-dark {
  background-color: #141414;
}

.d-none {
  display: none;
}

.ls-none {
  list-style: none;
}

.flex-grow {
  flex-grow: 1;
}

.auth-layout .overlay {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/81d64f3c-9627-4741-8f74-422bf35f9f1d/web/IN-en-20241104-TRIFECTA-perspective_55263ea2-af7f-40ed-9cf0-7029a9b9baf4_small.jpg");
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  display: block;
  opacity: 0.5;
}

.auth-layout .title {
  margin-right: 25px;
  margin: 0px 25px 0px 0px;
  line-height: 1;
  font-size: 48px;
}

.auth-layout .auth-header {
  max-width: calc(83.33333333333334% - (3rem * 2));
  padding: 1.5rem 3rem;
  margin: auto;
}
