body {
  background-color: #141414;
  color: #b3b3b3;
  user-select: none;
}

.layout {
  overflow: visible;
  background-color: inherit;
  z-index: 0;
  min-height: 100vh;
}

.content {
  background-color: inherit;
  min-height: 1000px;
  position: relative;
  z-index: 0;
}
.home {
  margin-top: -70px;
}

.footer {
  background-color: inherit;
  color: grey;
  margin: 20px auto 0;
  max-width: 980px;
  padding: 0 4%;
}

.flex {
  display: flex !important;
}

.text-primary {
  color: #b3b3b3;
}

.aling-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100% !important; 
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
.justify-content-end {
  justify-content: end;
}

.login-btn {
  background: rgb(229, 9, 20);
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(193, 17, 25);
}

.login-forgot-pass {
  text-decoration: none;
  color: white;
}

.login-forgot-pass:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.c-white {
  color: white !important;
}

.b-none {
  border: none;
}
.align-item-center {
  align-items: center;
}

.b-round {
  border-radius: 50%;
}

.bg-transparent {
  background: transparent;
}

.c-pointer {
  cursor: pointer;
}

.d-grid {
  display: grid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-stretch {
  justify-content: stretch;
}

.align-item-stretch {
  align-items: stretch;
}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

.divider {
  border-color: rgba(179, 179, 179, 0.2) !important;
}
.p-0 {
  padding: 0;
}

.l-height-1 {
  line-height: 1;
}

.l-height-1-2 {
  line-height: 1.2;
}

.o-none {
  outline: none;
}

.bg-inherit {
  background: inherit;
}

.top-0 {
  top: 0;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.td-none{
  text-decoration: none;
}

.td-underline{
  text-decoration: underline;
}

.fd-column{
  flex-direction: column;
}

.fw-700{
  font-weight: 700;
}

.c-black{
  color: black;
}

.bg-dark{
  background-color: #141414;
}

.d-none{
  display: none;
}

.ls-none{
  list-style: none;
}

.flex-grow{
  flex-grow: 1;
}